<nav>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png?20160527092314" alt="Logo">
    </div>

    <h4>UF SPCB</h4>
    <!-- <div class="menu_icon">
        <span></span>
        <span></span>
        <span></span>
    </div> -->
    <div class = "menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Rent a PC</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </div>
</nav>
