<mat-toolbar color="primary" class="mat-elevation-z9">
    <!-- <div class="logo">
      <img src="../../assets/spcb_bw.png" class="img-fluid">
    </div> -->
    <span data-cy="title">The Society of PC Building</span>
  
    <div class="spacer"></div>
  
    <button mat-raised-button data-cy="home"class="spaced-button" routerLink="home" (click)="homeClick()">HOME</button>
    <button mat-raised-button class="spaced-button" routerLink="officers">OFFICERS</button>
    <button mat-raised-button class="spaced-button" routerLink="calendar">CALENDAR</button>
    <button mat-raised-button class="spaced-button" routerLink="rent">RENT A PC</button>
    <button mat-raised-button class="spaced-button" routerLink="login">LOGIN</button>
    <button mat-raised-button class="spaced-button" routerLink="signup" color="accent">SIGN UP</button>
  
  </mat-toolbar>