<mat-toolbar color="primary" class="mat-elevation-z9">
    <!-- <div class="logo">
      <img src="../../assets/spcb_bw.png" class="img-fluid">
    </div> -->
    <span data-cy="title">The Society of PC Building</span>
  
    <div class="spacer"></div>
  
    <!-- <div *ngIf="!authService.loggedInMethod()"> -->
    <!-- <div *ngIf="loggedIn===false"> -->
      <div *ngIf="loggedIn===false">
      <button mat-raised-button data-cy="home" class="spaced-button" routerLink="home" (click)="homeClick()">HOME</button>
      <button mat-raised-button class="spaced-button" routerLink="officers">OFFICERS</button>
      <button mat-raised-button class="spaced-button" routerLink="events">UPCOMING EVENTS</button>
      <button mat-raised-button class="spaced-button" routerLink="rent">RENT A PC</button>
      <button mat-raised-button class="spaced-button" routerLink="login">LOGIN</button>
      <button mat-raised-button class="spaced-button" routerLink="signup" color="accent">SIGN UP</button>
    </div>
    <!-- <div *ngIf="authService.loggedInMethod()"> -->
    <!-- <div *ngIf="loggedIn===true"> -->
    <div *ngIf="loggedIn===true">
      <button mat-raised-button data-cy="home" class="spaced-button" routerLink="home" (click)="homeClick()">HOME</button>
      <button mat-raised-button class="spaced-button" routerLink="officers">OFFICERS</button>
      <button mat-raised-button class="spaced-button" routerLink="events">UPCOMING EVENTS</button>
      <button mat-raised-button class="spaced-button" routerLink="rent">RENT A PC</button>
      <button mat-raised-button class="spaced-button" routerLink="settings" color="accent">SETTINGS</button>
    </div>
  </mat-toolbar>