<p>caraousel works!</p>
<div *ngIf="images && images.length > 0" class="caraousel-container">
    <img *ngFor="let image of images; let i=index" 
    [src]="image.imageSrc" [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}"
    >

    <div *ngIf="indicators" class="caraousel-dot-container">
        <span *ngFor="let dot of images; let i=index"
          class="dot"
          [ngClass]="{'active': selectedIndex === i}"
          (click)="selectImage(i)"
          >
        </span>
    </div>

    <button class="carousel-button prev" 
    (click)="prevClick()"
    data-carousel-button="prev">&#60;</button>
    <button class="carousel-button next" 
    (click)="nextClick()"
    data-carousel-button="next">&#62;</button>

    <!-- <div *ngIf="controls" class="btn-carousel btn-prev">
       <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
    </div> -->
</div>