.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 22.5%;
}

.full-width {
  width: 100%;
}

.my-card {
  width: 50%;
  margin-left: 25%;
}

.centered-button {
  margin-left: 47.5%;
}

.forgot-button {
  margin-left: 90%;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}