<p>Home Page</p>

<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title class="title">What is SPCB?</mat-card-title>
      </mat-card-header>
      <br>
    <mat-card-content class="description"> 
        Description about The Society of PC Building Club
    </mat-card-content>
    <div class="logoDiv">
        <img mat-card-image src="../../assets/spcb_color_UF.png" 
        alt="spcb-colored-logo"
        class="largeLogo"
        >
    </div>
</mat-card>

<app-caraousel [images]="images"
   [autoSlide]="true"
></app-caraousel>


