.loginpage {
    text-align: center;
}

h2{
    font-size: 48px;
}

.button {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
}

.button:hover{
    box-shadow: 0 5px 15px rgba(132, 129, 134, 0.4);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color:#f5f5f7;
    background-color:#d8d8d8;
}
  
label {
    font-size:20px;
}

.submit_button {
    margin-left: 11%;
}