.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 22.5%;
  }

  .full-width {
    width: 100%;
  }

  .my-card {
    width: 50%;
    margin-left: 25%;
  }
  
  .save-button {
    margin-left: 40%;
  }

  .name-button {
    margin-left: 45%;
  }

  .password-button {
    margin-left: 41%;
  }

  .email-button {
    margin-left: 45%;
  }

  .back-button {
    margin-left:90%;
  }

  .log-out-button {
    margin-left:74.4%;
  }

  h2 {
    margin-left: 10%;
  }