<p>Officer Page</p>

<div class="row">
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">President</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/headshot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Christopher Tressler <br>
        2nd year Computer Engineering
    </mat-card-content>
</mat-card>
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">Internal Vice President</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/headshot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Raj Mia <br>
        2nd year Information Systems
    </mat-card-content>

</mat-card>
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">Internal Vice President</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/headshot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Raj Mia <br>
        2nd year Information Systems
    </mat-card-content>

</mat-card>

</div>