.row {
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    padding-bottom: 60px;
}

.div-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.officer-card {
    width: 400px;
    margin: auto;
    height: 470px;
    display: flex;
    align-items: center;
}

.title {
    font-size:48px;
}

.description {
    font-size:20px;
    text-align: center;
}

.officer-pic {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}