<div class="officer-container">
<div class="row">
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title" >President</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/ChristoHeadShot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Christopher Tressler<br>
        2nd Year | Computer Engineering
    </mat-card-content>
</mat-card>
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">Internal VP</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/headshot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Raj Mia<br>
        2nd Year | Information Systems
    </mat-card-content>

</mat-card>
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">External VP</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/headshot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Aaron Brennan<br>
        2nd Year | Biochem
    </mat-card-content>

</mat-card>
</div>
<div class="row">
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">Treasurer</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/MattHeadShot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Matthew Jung<br>
        2nd Year | Computer Science
    </mat-card-content>
</mat-card>
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">Secretary</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/kevincool.jpg" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Kevin Lin<br>
        3rd Year | Computer Science
    </mat-card-content>
</mat-card>
<mat-card class="officer-card">
    <mat-card-header>
        <mat-card-title class="title">Multimedia Director</mat-card-title>
    </mat-card-header>
    <br>
    <div>
        <img mat-card-image src="../../assets/AngelaHeadShot.png" 
        alt="officer-image"
        class="officer-pic"
        >
    </div>
    <mat-card-content class="description"> 
        Angela Ung<br>
        2nd Year | Computer Science
    </mat-card-content>
</mat-card>
</div>
<div class="row">
    <mat-card class="officer-card">
        <mat-card-header>
            <mat-card-title class="title">Treasurer</mat-card-title>
        </mat-card-header>
        <br>
        <div>
            <img mat-card-image src="../../assets/sexybeast.jpg" 
            alt="officer-image"
            class="officer-pic"
            >
        </div>
        <mat-card-content class="description"> 
            Kushal "Sai" Gaddam<br>
            2nd Year | Computer Science
        </mat-card-content>
    </mat-card>
    <mat-card class="officer-card">
        <mat-card-header>
            <mat-card-title class="title">Historian</mat-card-title>
        </mat-card-header>
        <br>
        <div>
            <img mat-card-image src="../../assets/JohnHeadShot.png" 
            alt="officer-image"
            class="officer-pic"
            >
        </div>
        <mat-card-content class="description"> 
            John Mallari<br>
            3rd Year | Mechanical Engineering
        </mat-card-content>
    </mat-card>
    <mat-card class="officer-card">
        <mat-card-header>
            <mat-card-title class="title">Treasurer</mat-card-title>
        </mat-card-header>
        <br>
        <div>
            <img mat-card-image src="../../assets/WilbertHeadShot.png" 
            alt="officer-image"
            class="officer-pic"
            >
        </div>
        <mat-card-content class="description"> 
            Wilbert Hernandez<br>
            2nd Year | Computer Science
        </mat-card-content>
    </mat-card>
    </div>
    <div class="row">
        <mat-card class="officer-card">
            <mat-card-header>
                <mat-card-title class="title"></mat-card-title>
            </mat-card-header>
            <br>
            <div>
            </div>
            <mat-card-content class="description"> 
            </mat-card-content>
        </mat-card>
        <mat-card class="officer-card">
            <mat-card-header>
                <mat-card-title class="title-long">Head of Cyber Security</mat-card-title>
            </mat-card-header>
            <br>
            <div>
                <img mat-card-image src="../../assets/headshot.png" 
                alt="officer-image"
                class="officer-pic"
                >
            </div>
            <mat-card-content class="description"> 
                YungKank<br>
                2nd Year | Computer Science
            </mat-card-content>
        </mat-card>
        <mat-card class="officer-card">
            <mat-card-header>
                <mat-card-title class="title"></mat-card-title>
            </mat-card-header>
            <br>
            <div>
            </div>
            <mat-card-content class="description"> 
            </mat-card-content>
        </mat-card>
        </div>
    </div>